<!-- banner -->
<%= render('user/pages/banner') %>
<!-- banner -->

<!-- top-grids -->
<div class="top-grids">
  <div class="container">
    <div class="col-md-4 top-grid text-center">
      <div class="top-grid-pic">
        <%= image_tag('pic01.png') %>
        <span>Boots</span>
      </div>
      <div class="top-grid-pic-info">
        <a href="single-page.html">Seeall</a>
      </div>
    </div>
    <div class="col-md-4 top-grid text-center">
      <div class="top-grid-pic">
        <%= image_tag('pic02.png') %>
        <span>Casual</span>
      </div>
      <div class="top-grid-pic-info">
        <a href="single-page.html">Seeall</a>
      </div>
    </div>
    <div class="col-md-4 top-grid text-center">
      <div class="top-grid-pic">
        <%= image_tag('pic03.png') %>
        <span>Formal</span>
      </div>
      <div class="top-grid-pic-info">
        <a href="single-page.html">Seeall</a>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- top-grids -->
<!-- bottom-grids -->
<div class="bottom-grids">
  <div class="container">
    <div class="col-md-9 bottom-grids-left">
      <div class="f-products">
        <h2>Featured Products</h2>
        <!----sreen-gallery-cursual---->
        <div class="sreen-gallery-cursual">
          <!-- requried-jsfiles-for owl -->
          <script>
            $(document).ready(function() {
              $("#owl-demo").owlCarousel({
                items : 3,
                lazyLoad : true,
                autoPlay : true,
                navigation : true,
                navigationText :  false,
                pagination : false,
              });
            });
          </script>
          <!-- //requried-jsfiles-for owl -->
          <!-- start content_slider -->
          <div id="owl-demo" class="owl-carousel text-center">
            <div class="item">
              <div onclick="location.href='single-page.html';" class="product-grid">
                <div class="product-pic">
                  <%= image_tag('p1.jpg')%>
                </div>
                <div class="product-pic-info">
                  <h3><a href="#">Elliot Boots</a></h3>
                  <div class="product-pic-info-price-cart">
                    <div class="product-pic-info-price">
                      <span>$129</span>
                    </div>
                    <div class="product-pic-info-cart">
                      <a class="p-btn" href="#">Buy now</a>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div onclick="location.href='single-page.html';" class="product-grid">
                <div class="product-pic">
                  <%= image_tag('p2.jpg')%>
                </div>
                <div class="product-pic-info">
                  <h3><a href="#">Elliot Boots</a></h3>
                  <div class="product-pic-info-price-cart">
                    <div class="product-pic-info-price">
                      <span>$89</span>
                    </div>
                    <div class="product-pic-info-cart">
                      <a class="p-btn" href="#">Buy now</a>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div onclick="location.href='single-page.html';" class="product-grid">
                <div class="product-pic">
                  <%= image_tag('p3.jpg')%>
                </div>
                <div class="product-pic-info">
                  <h3><a href="#">Elliot Boots</a></h3>
                  <div class="product-pic-info-price-cart">
                    <div class="product-pic-info-price">
                      <span>$149</span>
                    </div>
                    <div class="product-pic-info-cart">
                      <a class="p-btn" href="#">Buy now</a>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div onclick="location.href='single-page.html';" class="product-grid">
                <div class="product-pic">
                  <%= image_tag('p1.jpg')%>
                </div>
                <div class="product-pic-info">
                  <h3><a href="#">Elliot Boots</a></h3>
                  <div class="product-pic-info-price-cart">
                    <div class="product-pic-info-price">
                      <span>$129</span>
                    </div>
                    <div class="product-pic-info-cart">
                      <a class="p-btn" href="#">Buy now</a>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div onclick="location.href='single-page.html';" class="product-grid">
                <div class="product-pic">
                  <%= image_tag('p3.jpg')%>
                </div>
                <div class="product-pic-info">
                  <h3><a href="#">Elliot Boots</a></h3>
                  <div class="product-pic-info-price-cart">
                    <div class="product-pic-info-price">
                      <span>$129</span>
                    </div>
                    <div class="product-pic-info-cart">
                      <a class="p-btn" href="#">Buy now</a>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--//sreen-gallery-cursual---->

        </div>
      </div>
      <div class="d-products f-products">
        <h2>Discounts</h2>
        <!----sreen-gallery-cursual---->
        <div class="sreen-gallery-cursual">
          <!-- requried-jsfiles-for owl -->
          <script>
            $(document).ready(function() {
              $("#owl-demo1").owlCarousel({
                items : 3,
                lazyLoad : true,
                autoPlay : true,
                navigation : true,
                navigationText :  false,
                pagination : false,
              });
            });
          </script>
          <!-- //requried-jsfiles-for owl -->
          <!-- start content_slider -->
          <div id="owl-demo1" class="owl-carousel text-center">
            <div class="item">
              <div onclick="location.href='single-page.html';" class="product-grid">
                <div class="product-pic">
                  <%= image_tag('p4.jpg')%>
                </div>
                <div class="product-pic-info">
                  <h3><a href="#">Elliot Boots</a></h3>
                  <div class="product-pic-info-price-cart">
                    <div class="product-pic-info-price">
                      <span>$129</span>
                      <label> </label>
                    </div>
                    <div class="product-pic-info-cart">
                      <a class="p-btn" href="#">Buy now</a>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div onclick="location.href='single-page.html';" class="product-grid">
                <div class="product-pic">
                  <%= image_tag('p5.jpg')%>
                </div>
                <div class="product-pic-info">
                  <h3><a href="#">Elliot Boots</a></h3>
                  <div class="product-pic-info-price-cart">
                    <div class="product-pic-info-price">
                      <span>$86</span>
                      <label> </label>
                    </div>
                    <div class="product-pic-info-cart">
                      <a class="p-btn" href="#">Buy now</a>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div onclick="location.href='single-page.html';" class="product-grid">
                <div class="product-pic">
                  <%= image_tag('p6.jpg')%>
                </div>
                <div class="product-pic-info">
                  <h3><a href="#">Elliot Boots</a></h3>
                  <div class="product-pic-info-price-cart">
                    <div class="product-pic-info-price">
                      <span>$149</span>
                      <label> </label>
                    </div>
                    <div class="product-pic-info-cart">
                      <a class="p-btn" href="#">Buy now</a>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div onclick="location.href='single-page.html';" class="product-grid">
                <div class="product-pic">
                  <%= image_tag('p1.jpg')%>
                </div>
                <div class="product-pic-info">
                  <h3><a href="#">Elliot Boots</a></h3>
                  <div class="product-pic-info-price-cart">
                    <div class="product-pic-info-price">
                      <span>$129</span>
                      <label> </label>
                    </div>
                    <div class="product-pic-info-cart">
                      <a class="p-btn" href="#">Buy now</a>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div onclick="location.href='single-page.html';" class="product-grid">
                <div class="product-pic">
                  <%= image_tag('p4.jpg')%>
                </div>
                <div class="product-pic-info">
                  <h3><a href="#">Elliot Boots</a></h3>
                  <div class="product-pic-info-price-cart">
                    <div class="product-pic-info-price">
                      <span>$129</span>
                      <label> </label>
                    </div>
                    <div class="product-pic-info-cart">
                      <a class="p-btn" href="#">Buy now</a>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--//sreen-gallery-cursual---->

        </div>
      </div>
    </div>
    <div class="col-md-3 bottom-grids-right">
      <h2>Exclusive Offers</h2>
      <p>Sign Up for Our Newsletter and get the exclusive offers directly into your inbox.</p>
      <form>
        <input type="text" class="text" value="Type your email address ..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type your email address ...';}">
        <input type="submit" value="" />
      </form>
      <div class="shhiping text-center">
        <h2>Free Shipping</h2>
        <a href="#"><%= image_tag('offer-pic.png')%></a>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- bottom-grids -->

