<div class="header">
  <!-- top-header -->
  <div class="top-header">
    <div class="container">
      <div class="rigister-info">
        <ul>
          <% unless user_signed_in? %>
            <li><%= link_to 'Login', new_user_session_url %></li>
            <li><%= link_to 'Sign Up', new_user_registration_url %></li>
          <% else %>
              <li><p>Welcome <%= current_user.email %></p></li>
              <li><%= link_to 'Sign Out', destroy_user_session_url, :method => :delete %></li>
          <% end %>
          <div class="clearfix"> </div>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <!-- /top-header -->
  <!-- bottom-header -->
  <div class="bottom-header">
    <div class="container">
      <div class="bottom-header-left">
        <p>The Finest Genuine Leather pagescmeet with Ingenious  Craftsmen Shoes </p>
      </div>
      <div class="logo">
        <%= link_to image_tag('logo.png', :alt => 'logo'), '/' %>
      </div>
      <div class="bottom-header-right">
        <ul>
          <li><a href="#">My Account</a></li>
          <li><a href="<%=checkout_path %>">Checkout</a></li>
        </ul>
        <div class="search-cart">
          <div class="search-box">
            <form>
              <input type="text" value="Search..." />
              <input type="submit" value="" />
            </form>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /bottom-header -->
</div>