<div class="top-nav">
  <div class="container">
    <span class="menu"> </span>
    <ul>
      <li class="<%= action_name == 'index' ? 'active' : '' %>"><%= link_to 'Home', '/' %></li>
      <% if @nav_menus.present? %>
        <% @nav_menus.each do |item|%>
          <li class="<%= request.original_fullpath == get_menu_url(item.url_code) ? 'active' : '' %>" ><%= link_to item.name, get_menu_url(item.url_code)%></li>
        <% end %>
      <% end %>
      <li class="<%= action_name == 'about_us' ? 'active' : '' %>" ><%= link_to 'About Us', about_us_url%></li>
      <li class="<%= action_name == 'contact' ? 'active' : '' %>"><%= link_to 'Contact Us', contact_url %></li>
      <div class="clearfix"> </div>
    </ul>
  </div>
</div>

<!-- script-for-nav -->
<script>
  $(document).ready(function(){
    $("span.menu").click(function(){
      $(".top-nav ul").slideToggle(500);
    });
  });
</script>
<!-- /script-for-nav -->