<div class="bottom-grids collections">
  <div class="container">
    <h1>Your Cart</h1>
      <div class="row">
        <div class="col-md-8  col-md-offset-2">
          <%= render "shared/user/message" %>
          <% if session[:cart].present? %>
            <table class="table table-striped">
              <tr>
                <th width="15%">Image</th>
                <th width="45%">Name</th>
                <th width="5%">Size</th>
                <th width="5%">Quantity</th>
                <th width="5%">Price</th>
                <th width="5%">Action</th>
              </tr>
              <% total = 0 %>
              <% session[:cart].each_with_index do  |(key,value), index| %>
                  <%  %>
                <% total += value['quantity'].to_i * @products[value['product_id']]['sale_price'] %>
                <tr>
                  <td><center><%= image_tag @products[value['product_id']].image.url(:thumb) %></center></td>
                  <td><%= @products[value['product_id']].name %></td>
                  <td><%= value['size'] %></td>
                  <td><center><%= select_tag '', options_for_select((1..20), :selected => value['quantity']), 'data-id' => key,class: 'select-quantity form-control' %></center></td>
                  <td><center>$<%= @products[value['product_id']]['sale_price'] %></center></td>
                  <td><a href="#/" class="deleteCart" data-id="<%= key %>">Remove</a> </td>
                </tr>
              <% end %>
              <tr>
                <td colspan="3"></td>
                <td>
                  Total:
                </td>
                <td  colspan="2">
                  $<%= total %>
                </td>
              </tr>
            <% else %>
                <strong>Your cart is empty</strong>
            <% end %>
            </table>
          <% if session[:cart].present? %>
              <a class="btn-form" style="float:right" href="<%= checkout_path %>">Check out</a>
          <% end %>
        </div>
      </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.deleteCart').bind('click', function(e){
      $.ajax({
        type: "POST",
        dataType: 'json',
        url: '<%= ajax_remove_product_path %>',
        data: 'id='+$(this).data('id'),
        success: function(){
          location.reload();
        }
      });
    });
    $('.select-quantity').bind('change', function(e){
      $.ajax({
        type: "POST",
        dataType: 'json',
        url: '<%= ajax_select_quantity_path %>',
        data: 'id='+$(this).data('id')+'&quantity='+$(this).val(),
        success: function(){
          location.reload(true);
        }
      });
    })
  })
</script>
