<div class="bottom-grids collections">
  <div class="container">
    <h1><%= @category.name %></h1>
    <div class="col-md-9 bottom-grids-left">
      <ul class="products">
        <% @products.each do |product|%>
          <li class="item-product">
            <div onclick="location.href='<%= product_path(product.id) %>'" class="product-grid">
              <div class="product-pic">
                <%= image_tag(product.image.url(:medium))%>
              </div>
              <div class="product-pic-info">
                <h3><a href="#"><%= product.name %></a></h3>
                <div class="product-pic-info-price-cart">
                  <div class="product-pic-info-price">
                    <span>$ <%= product.price %></span>
                  </div>
                  <div class="product-pic-info-cart">
                    <a class="p-btn addToCart" href="#" data-product="<%= product.id %>">Add to cart</a>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <%= render 'pages/right_panel' %>
  </div>
</div>