<div class="about">
  <!----- header-section ---->
  <div class="header-section">
    <div class="container">
      <h1>Product</h1>
    </div>
  </div>
  <div class="about-grids">
    <div class="container">
      <div class="about-left-grids">
        <div class="fotorama" data-width="700" data-autoplay="true" data-nav="thumbs" data-ratio="700/450" data-max-width="100%>
        <% @product.pictures.each do |picture| %>
            <img src="<%= picture.image %>">
        <% end %>
        </div>
        <div class="product-detail">
          <h4><%= @product.name %></h4>
          <%= @product.detail.html_safe %>
        </div>
      </div>
      <div class="about-right-grids-product">
        <h4><%= @product.name %></h4>
        <div class="price-product">
          <% if @product.sale_price.present? %>
              <strong>Price:</strong> <span class="sale-price">&nbsp;&nbsp;$<%= @product.sale_price %></span><span class="normal-price">$<%= @product.price %></span>
          <% else %>
              <strong>Price:</strong> <span class="sale-price">$<%= @product.price %></span>
          <% end %>
        </div>
        <div class="available-size">
          <strong>Available sizes:</strong><br>
          <div class="btn-group-size" style="margin-top: 10px">
            <% @product.product_quantities.select(:size).uniq.each do |quantity|%>
                <button type="button" class="getStockInfo btn btn-default" data-product="<%=@product.id.to_i %>" data-size="<%= quantity.size.to_i %>" ><%= quantity.size %></button>
            <% end %>
          </div>
        </div>
        <div class="address">
          <strong>Address:</strong><br>
          <table class="table" style="margin-top: 10px; width: 27%">
            <tbody id="table-quantity">
              <%= render partial: 'quantity_row', locals: {product_quantity: nil} %>
            </tbody>
          </table>
        </div>
        <a style="margin-top: -10px" href="#" class="p-btn addToCart" data-product="<%= @product.id %>">Add to cart</a>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>

</div>

<script>
  $(document).ready(function(){
    $('.getStockInfo').on('click', function(e){
      $('.btn-group-size button').css("background", "");
      $(this).css("background", "lightsteelblue");
      $('.addToCart').data('size', $(this).data('size'));
      jQuery.ajax
      ({
        type: "POST",
        dataType: 'json',
        url: "<%= ajax_get_store_quantity_path %>",
        data: {
          product_id: $(this).data('product'),
          size: $(this).data('size')
        },
        success: function(data){
          var raw_html = data.raw_html;
          $('#table-quantity').html(raw_html)
        }
      });
      e.preventDefault();
    });
    $('.getStockInfo')[0].click();
  })
</script>