<tr>
  <td><%= f.text_field :size, class: 'form-control' %></td>
  <td><%= f.text_field :quantity, class: 'form-control' %></td>
  <td><%= f.select :store_id, options_for_select(Store.all.collect{|p| [ p.name, p.id ] }, :selected => f.object.store_id), {include_blank: 'Select Store'}, class: 'form-control' %></td>
  <td>
    <center>
      <%= f.hidden_field :_destroy, class: 'form-control' %>
      <%= link_to('#/', 'class' => 'btn btn-sm btn-default remove_product_quantity') do%>
          <i class="fa fa-trash-o" title="Delete"></i>
      <% end %>
    </center>
  </td>
</tr>