<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Url code:</strong>
  <%= @menu.url_code %>
</p>

<p>
  <strong>Display order:</strong>
  <%= @menu.display_order %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
