<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) :' GAIA - THE FABULOUS' %></title>
  <%= stylesheet_link_tag    'user', media: 'all' %>
  <%= javascript_include_tag 'user' %>
  <%= favicon_link_tag 'site-icon.png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!-- webfonts -->
  <link href='http://fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Rochester' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>
<!-- header -->
<%= render('pages/header')%>
<!-- header -->

<!--- top-nav -->
<%= render('pages/top_nav') %>
<!--- top-nav -->

<%= yield %>

<!-- footer -->
<%= render 'pages/footer'  %>
<!-- footer -->

</body>
</html>
